
{% extends 'base.html.twig' %}

{% block title %}Admin - {{ config.nombre }}{% endblock %}
        {% block stylesheets %}
            {{ parent() }}
            <link rel="stylesheet" href="{{ asset('css/adminpanel.css')  }}">
        {% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ajax-call.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}{% block body %}
    <div class="container-fluid">
            <div class="navbar container-fluid">
                <h3 class="text-center">
                    Sube tu foto
                </h3>
            </div>

            <div class="container-fluid">
                {{ form(formu) }}
            </div>

    </div>




{% endblock %}